.main{
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.main .content{
    
    width: 910px;
}

.main .sidebar{
    width: 290px;
    font-size: 14px;

}
.main .sidebar .panel{
    margin-bottom: 20px;
}

.main .inner{
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}

.main .panel .inner>span a{
    display: block;
    border-radius: 3px;
    background-color: #80bd01;
    padding: 8px;
    width: 78px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.main .panel .inner ul li a{
    display: block;
    color: #778087;
    font-size: 14px;
    line-height: 30px;
}
