.select-nav{
    padding: 7px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.select-nav ul{
    display: flex;
}

.select-nav ul li{
    font-size: 14px;
    word-break: break-word;
    padding: 3px 4px;
    border-radius: 3px;
    color: #80bd01;
     margin: 0 10px;
    cursor:pointer;
}
.select-nav ul li.active{
    background-color: #80bd01;
    color: #fff;
}